:root {
    --text-primary: #0a192f;

    --text-secondary: #112240;
    --text-tertiary: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    
    --background-color: #eee;
    --primary-color: #a8b2d1;
    --tertiary-color: #ccd6f6;
    --white: #e6f1ff;
    --fun-text: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --highlight-1: #f57dff;
    --hightlight-2: #159ad7;
  }


.btn {
    text-white font-bold bg-purple-700 hover:bg-purple-800 py-2 px-4 rounded
}